body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 150px;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(165,182,141,1) 35%, rgba(7,117,53,0.2833727240896359) 100%);
}

.clock-container {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box {
  height: 80px;
  width: 80px;
  background-color: #06772d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  flex-direction: column;
}

.value {
  font-size: 30px;
  font-weight: 700;
}


