body{
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.input-container{
    display: flex;
    gap: 10px;
}

.input {
    border: none;
    border-bottom: 2px solid blue;
}

.input:focus{
    outline: none;
    border-bottom: 2px solid red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
